# Пример файла переменных окружения
# Скопируйте этот файл в .env.local и обновите значения

# Для разработки (текущая настройка)
NEXT_PUBLIC_API_URL=http://89.169.2.116:8080

# Для production (используется при npm run build)
# NEXT_PUBLIC_API_URL=https://aplus.tj

# Для локальной разработки
# NEXT_PUBLIC_API_URL=http://localhost:8000

